*{
  margin:0;
  padding:0;
}
body{
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  height:750px;
}

p{
  padding-bottom:5px;
}
select {
  font-size:18px;
}
.main{
  width:300px;
  margin:0;
}
.boxes {
  width:100%;
  height:270px;
  position:relative;
}

.box{
  display:inline-block;
  border: solid 1px grey;
  width:250px;
  height: 250px;
  margin:10px auto;
  /* box-sizing: border-box; */
  display:flex;
  position:absolute;
  left: 0;
  right: 0;
  transition: all 2s ease;

 }

 .box-multiplied{
  top:0px;
 }

 .leftbox-home{
  top:0px;

 }
 .rightbox-home{
  top:260px;
 }

#multibox{
  top:0px;
  flex-wrap: wrap;
  border-width:2px ;
  background-color:rgba(255, 255, 255, 0.65);
}
.multibox-home{}


 #leftbox{
 }

#rightbox{
  flex-direction:column;
  
}

.bit{
  border: 3px solid #007DA5;
  flex: 1 100%;
  box-sizing:border-box;
}


.col{
  border:solid 1px grey;
  /* width:11%; */
  flex: 1 100%;
}

.col-selected{
  background-color:rgba(255, 174, 214, 0.5);
}

.row{
  border:solid 1px grey;
  width:100%;
  flex: 1 100%;
}

.row-selected{
  background-color:rgba(100, 160, 230, 0.5);
}

/* CONTROLS */

.controls{
  height:100%;
  text-align:center;
  display:flex;
  justify-content: space-around;
}

.fracbox{
  padding:10px;
  margin:5px;
  flex:0.4;
}

#left-frac{
  border: solid 1px grey;
  background-color:rgba(255, 174, 214, 0.5);

}
#right-frac{
  border: solid 1px grey;
  background-color:rgba(100, 160, 230, 0.5);

}

#multi{
  display:flex;
  flex-direction:column;
  flex:2;
}

#multi a{
  flex: 1;
  margin:5px auto;
  text-align:center;
  width:30%;
}

.btn{
  text-decoration: none;
  background-color:#007DA5;
  padding:15px;
  color:rgb(240, 240, 240);
}

#multiplybtn{
}

.faded{
  opacity:0.8;
}

.highlighted{
  background-color:rgba(128, 0, 128, 0.8);
}

/* Diff number of cols */
.col1{
  flex-basis:100%;
}
.col2{
  flex-basis:50%;
}
.col3{
  flex-basis:33%;
}
.col4{
  flex-basis:25%;
}
.col5{
  flex-basis:20%;
}
.col6{
  flex-basis:16.6%;
}
.col7{
  flex-basis:14.2%;
}
.col8{
  flex-basis:12.5%;
}
.col9{
  flex-basis:11%;
}

.centered{
  text-align:center;
}

#showyourwork{
  font-size:18px;
}

/* FRACTION STYLING  */
/* answer is 5 boxes wide.  fraction, X, fraction, =, answer */
/* each fraction is 3 boxes tall.  numerator, symbol, denom */


.answer, .fraction{
  display:flex;
}

.answer{
  justify-content:center;
}



.top-answer{
  background-color:rgba(128, 0, 128, 0.8);
  padding:10px !important;
}

.bottom-answer{
  background-color:#007DA5;
  padding:10px !important;

  /* border-top:3px solid #000 !important; */
}

.symbols{
  border-top:solid 2px black;
  margin:5px 0;
}


.top-answer, .bottom-answer{
  display:block;
  color:white;
  border-radius:5px;
}

.fraction, .top, .bottom {
  padding: 10px;    
}

.fraction {
  flex-direction:column;
  text-align: center;   
  justify-content: center;
  flex-direction: column;
}

.bottom{
  /* border-top: 1px solid #000; */
  display: block;
}

/* MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY  */
/* MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY  */
/* MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY  */

@media (min-width:600px){
  .main{
    width:600px;
  }
  .box{
    margin:10px 0 10px 0;
  }
  #rightbox{
    right:0;
    left: 320px;
    top: 0px;
  }
  #leftbox{
    left:30px;
  }
  .box-multiplied, #multibox{
    top: 0px !important;
    left: 175px !important;
  }

}