*{
  margin:0;
  padding:0;
}
body{
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  height:750px;
  color:white;
}

img{
  display: block;
  margin:10px auto;
  width:100%;
  max-width: 250px;
}

p{}

select {
  font-size:16px;
}

section{
  margin:20px 10px;
  padding: 10px 0;
}

a{
  text-decoration:none;
  color:#eee;
  font-size:13px;
}

.choices a:first-child{
  border-right: solid 1px #eee;
  padding-right:5px;
}

#main{
  width:100%;
  max-width:300px;
  margin:0;
  background-color:#efefef;
  display:flex;
  flex-direction:column;

  justify-content: space-between;
}

section{
  background-color: #007DA5
}

/* 
#height{
  background-color:pink;
}
#volume{
  background-color:lightblue;
}
#weight{
  background-color:lightgreen;
} */

.title{
  display:flex;
  justify-content: space-around;
  align-items:center;
  border-bottom:dashed 1px rgb(199, 199, 199);
  padding-bottom:10px;
}

.title h3{
  color:#00d2d2;
  border-right:solid 1px #eee;
  border-left:solid 1px #eee;
  padding:0 20px;

}

.title, .readout{
  margin:5px 0;
  text-align:center;
}

.choices{
  margin: 10px 0 5px 0;
  text-align:center;

}

/* hide, intiially */
#volume{
  display:none;
}
#weight{
  display:none;
}

.nav{
  font-size:14px;
  flex:1;
}

.weight-nav{
  border-left:solid 1px #eee;
  border-right: solid 1px #eee;
  padding: 0 10px;
}

.readout{
  border: solid 1px #eee;
  padding:5px;
  margin: 5px 20px;
  font-size:20px;
}

.options{
  display:flex;
  justify-content: space-around;
  padding: 10px 0;
}

.readout h5, .options select {
  flex: 0.5;
  font-size:20px;
}

.centered{
  text-align:center;
}

.hidden{
  display:none;
}

.active{
  color:#00d2d2;
  pointer-events: none;
  cursor: default;
  font-size:16px;
}


@media (max-width:600px){
  #main{
    width:75%;
}