*{
  margin:0;
  padding:0;
}
body{
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  height:750px;
  color:white;
}

img{
  display: block;
  margin:10px auto;
  width:250px;
}

p{}

select {
  font-size:16px;
}

section{
  margin:20px 10px;
  padding: 10px 0;
}

a{
  text-decoration:none;
  color:#eee;
}

.choices a:first-child{
  border-right: solid 1px #eee;
  padding-right:5px;
}

#main{
  width:100%;
  max-width:900px;
  margin:0;
  background-color:#efefef;
  display:flex;
  justify-content: space-between;
}

section{
  background-color: #007DA5
}

/* 
#height{
  background-color:pink;
}
#volume{
  background-color:lightblue;
}
#weight{
  background-color:lightgreen;
} */


.title, .choices, .readout{
  margin:5px 0;
  text-align:center;
}

.readout{
  border: solid 1px #eee;
  padding:5px;
  margin: 5px 20px;
  font-size:20px;
}

.options{
  display:flex;
  justify-content: space-around;
  padding: 10px 0;
}

.readout h5, .options select {
  flex: 0.5;
  font-size:20px;
}

.centered{
  text-align:center;
}

.hidden{
  display:none;
}

.active{
  color:#00d2d2;
  pointer-events: none;
  cursor: default;
}


@media (max-width:600px){
  #main{
    width:75%;
    flex-direction:column;
}